/*
 * color scheme based on home profile photo
 * $gray-green: #425350;
 * $lightest-blue: #d7f0f2;
 * $mid-blue: #98d3f2;
 * $blue: #4284c8;
 * $off-brown: #957b6f;
 * $not-black: #0f1926;
 * $redish: #ca5f5f;
 * $greenish: #6d8e59;
 */

// converted to material design colors btyb https://pkief.com/material-color-converter/

$gray-green: #37474f;
$lightest-blue: #e0f7fa;
$mid-blue: #81d4fa;
$blue: #0288d1;
$off-brown: #8d6e63;
$not-black: #212121;
$redish: #e57373;
$greenish: #558b2f;
$not-white: #fafafa;

// vendor colors
$figma-purple: #3e54a3;
$fcc-green: #00641f;

// material design colors
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-600: #757575;
$gray-700: #616161;

// dark engough colors for accessibile text on white background; material design colors
$green-900: #1b5e20;
$red-700: #d32f2f;
