@import "color.scss";

/*
 * Device size breakpoints
 * NOTE: no mobile breakpoint because that is the default
 */
@mixin tablet-breakpoint {
  @media only screen and (min-width: 800px) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin large-desktop-breakpoint {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

// reset browser defaults
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  // don't rely on browser defaults; must set explicitly
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  background-color: $gray-50;
  color: $not-black;
  font-family: "Raleway", sans-serif;
  font-size: 14px; // REM

  @include tablet-breakpoint {
    font-size: 14px;
  }

  @include desktop-breakpoint {
    font-size: 16px;
  }
}

main {
  // min height for header is 17vh; push footer to bottom; see PagerHeader.vue
  min-height: 83vh;
  min-height: 83dvh;

  @include tablet-breakpoint {
    // header 25vh
    min-height: 75vh;
    min-height: 75dvh;
  }

  @include desktop-breakpoint {
    // min height for header is 30vh
    min-height: 70vh;
    min-height: 70dvh;
  }
}

// remain responsive
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

// don't use div's for buttons
button {
  background: transparent;
  border: 0;
}
// end CSS reset

// set max-widths for content
.device-widths {
  margin: auto;
  width: 95vw;

  @include tablet-breakpoint {
    width: 60vw;
  }

  @include desktop-breakpoint {
    width: 60vw;
  }

  @include large-desktop-breakpoint {
    width: 55vw;
  }
}

.clear-link-dec {
  color: $not-black;
  text-decoration: none;
}

// hide web content when mobile menu is displayed; invoked by menu component
.hideMain {
  & main {
    display: none;
  }
}

// margin for last element of page to push give space to footer; only use when
// content doesn't take up at least 100vh
$footer-push: 7rem;
