@import "color.scss";

// reset browser defaults
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  // don't rely on browser defaults; must set explicitly
  font: inherit;
}

html {
  color-scheme: dark light; // sets dark as default
}

body {
  min-height: 100vh;
}

// remain responsive
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

// don't use div's for buttons
button {
  background: transparent;
  border: 0;
}
// end CSS reset

/*
 * Device size breakpoints
 * NOTE: no mobile breakpoint because that is the default
 */
@mixin tablet-breakpoint {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin large-desktop-breakpoint {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

// set max-widths for content
.device-widths {
  margin: auto;
  width: 95vw;

  @include tablet-breakpoint {
    width: 70vw;
  }

  @include desktop-breakpoint {
    width: 75vw;
  }

  @include large-desktop-breakpoint {
    width: 60vw;
  }
}

html {
  background-color: $gray-50;
  color: $not-black;
  font-family: "Raleway", sans-serif;
  font-size: 16px; // REM
}

.clear-link-dec {
  color: $not-black;
  text-decoration: none;
}
